.content {
    display: grid;
    grid-template: "list-links list-links" auto;
    justify-content: center;
    height: 100%;
    justify-items: center;
    align-items: center;

    .list-links {
        width: auto;
        grid-area: list-links;

        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
    }
}

@media (min-width: 768px) {
    .content {
        grid-template: "list-links " 1fr / 1fr;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .content {
        grid-template: "item list-links" 1fr / 1fr 1fr;
    }
}