<!-- <div class="container">
  <header>
    <h1>Logo</h1>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/service">Service</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    </header>
    
    <main>
      <router-outlet></router-outlet>
    </main>
    
    <footer>
      Copyright
    </footer>
</div>
-->

<div class="grid-container">
  <header class="header">
    <app-header></app-header>
  </header>
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <aside class="sidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>